html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #fff5f8;
}

/*  Navbar Glass Effect */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: rgba(255, 182, 193, 0.25);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 182, 193, 0.4);

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

  position: sticky;
  top: 0;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  color: #ff4d88;
}

/* menu */
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.menu li:hover {
  color: #df1070;
  transform: translateY(-3px);
}

/* underline animation */
.menu li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ff2e7a;
  transition: 0.3s;
  color: white;
}

.menu li:hover::after {
  width: 100%;
}

/*  Button */
.hireBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #ff4d88, #ff99cc);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.hireBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 77, 136, 0.4);
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hireBtn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

/* ===== Projects ===== */

.projects {
  padding: 60px 20px;
  text-align: center;
  background: #fff8fc;
}

.projects h2 {
  color: #ff4d88;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.project-card {
  width: 300px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  padding-bottom: 20px;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}



.project-card h3 {
  color: #ff4d88;
}

.project-card p {
  padding: 0 15px;
  color: #555;
}



.featured {
  display: inline-block;
  background: #ffb6d5;
  color: #8a004f;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.tech-stack {
  margin: 15px 0;
}

.badge {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  background: #ffe4ef;
  color: #ff2e7a;
  border-radius: 20px;
  font-size: 14px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background: #ff4d88;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
}

.project-card a:hover {
  background: #e63972;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.project-btn {
  background: #ff4d88;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.project-btn:hover {
  background: #e63972;
}

.dark .projects {
  background: #121212;
}

.dark .project-card {
  background: #1f1f1f;
  color: white;
}

.dark .project-card h3 {
  color: #ff8ab5;
}

.dark .project-card p {
  color: #ddd;
}

.dark .project-btn {
  background: #ff4d88;
}


/* Light Mode */
.light {
  background: #fff5f8;
  color: #333;
}

/*  Dark Mode */
.dark {
  background: #121212;
  color: #fff;
}

/* دکمه تغییر حالت */
.modeBtn {
  top: 15px;
  right: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #ff4d88;
  color: white;
  z-index: 999;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
  min-height: 100vh;
}

.dark h1,
.dark h2,
.dark p ,
.dark li {
  color: rgb(245, 10, 139);
}

.light {
  background: #fff5f8;
  color: #333;
  min-height: 100vh;
}

.modeBtn:hover {
  transform: scale(1.1);
}

.contact {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.contact-card {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.contact-card h2 {
  color: #ff4d88;
  margin-bottom: 15px;
}

.contact-card p {
  color: #666;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  background: #ff4d88;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #e63972;
}

.footer {
  background: #4b031b;
  color: white;
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

.footer-links a:hover {
  color: #ff4d88;
}

.location {
  color: #ddd;
  margin: 8px 0;
  font-size: 14px;
}

.copyright {
  color: #aaa;
  font-size: 13px;
  margin: 5px 0 0;
}

.header {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.header h1 {
  color: #ff4d88;
  font-size: 42px;
}

.header h2 {
  font-size: 32px;
}

.header p {
  max-width: 500px;
  font-size: 18px;
  color: #555;
}

.hireBtn {
  margin-top: 20px;
}

.profile {
  padding: 50px 20px;
  text-align: center;
}

.profile-card {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.profile-image {
  font-size: 60px;
}

.profile-card h2 {
  color: #ff4d88;
}

.profile-card h3 {
  color: #777;
}

.profile-card p {
  line-height: 1.8;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ff4d88;
  box-shadow: 0 5px 20px rgba(255, 77, 136, 0.3);
}

.about {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.about-card {
  max-width: 500px;
  background: white;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  border: 1px solid #ffe0ed;
}

.about-card h2 {
  color: #ff4d88;
  font-size: 32px;
  margin-bottom: 20px;
}

.about-card p {
  color: #555;
  line-height: 1.8;
  font-size: 17px;
}

.skills {
  margin-top: 25px;
}

.skills span {
  display: inline-block;
  margin: 8px;
  padding: 8px 18px;
  background: #ffe4ef;
  color: #ff2e7a;
  border-radius: 20px;
  font-weight: bold;
}

.dark .about-card,
.dark .contact-card,
.dark .profile-card {
  background: #1f1f1f;
  color: white;
}

.dark .about-card p,
.dark .contact-card p,
.dark .profile-card p {
  color: #ddd;
}

.dark input,
.dark textarea {
  background: #2b2b2b;
  color: white;
  border: 1px solid #555;
}